{% extends "admin/change_list.html" %}

{% block result_list %}
   <div class="results">
    <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Total</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Total Sales</a>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.total }} </td>
        <td> {{ row.total_sales | default:0 }}$ </td>
      </tr>
      {% endfor %}
    </tbody>

    <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
            <td> {{ summary_total.total }} </td>
            <td> {{ summary_total.total_sales }}$ </td>
        </tr>

  </table>
</div>
{% endblock %}

{% block pagination %}{% endblock %}
