{% extends "admin/change_list.html" %}
{% load static %}
<script type="text/javascript" src="{% static 'base/js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/jquery.tablesorter.min.js' %}"></script>


{% block result_list %}
   <div class="results">
    <table id="myTable" class="tablesorter">

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">訂單序號</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">總銷售額</a>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.id }} </td>
        <td> {{ row.total_price | default:0 }} </td>
      </tr>
      {% endfor %}
    </tbody>

    <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
            <td> Total </td>
            <td> {{ summary_total.total_price }} </td>
        </tr>

  </table>
</div>
{% endblock %}

{% block pagination %}{% endblock %}

<script>
$(function() {
  $("#myTable").tablesorter();
});
</script>