{% extends 'header-footer.html' %} {% block new_offers %}
<div class="newproducts-w3agile">
  <div class="container">
    <h3>最新產品</h3>
    <div class="agile_top_brands_grids">
      {% if products %}
        {% for product in products%}
          <!-- offer產品 第1項  -->
      <div class="col-md-3 top_brand_left-1">
          <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
              <div class="agile_top_brand_left_grid_pos"></div>
              <div class="agile_top_brand_left_grid1">
                <figure>
                  <div class="snipcart-item block">
                    <div class="snipcart-thumb">
                      <!-- 產品link and image -->
                      <a href="{% url 'storeApp:detail' product.offer.id %}"
                        ><img
                          class="productItemImg"
                          title=" "
                          alt=" "
                          src="{{ product.offer.image.url }}"
                      /></a>
                      <!-- 產品link and image -->
  
                      <!-- 產品名稱 *必填-->
                      <p>{{ product.offer }}</p>
                      <!-- 產品名稱 -->
                      <!-- 產品價格顯示 -->
                      <h4>
                        <!-- 現價 -->
                        NT${{ product.finalPrice }}
                        <!-- 現價 -->
                        {% if product.discount != 0%}
                        <!-- 原價 *必填-->
                        <span>NT${{ product.originPrice }}</span>
                        <!-- 原價 -->
                        {% endif %}
                      </h4>
                      <!-- 產品價格顯示 -->
                    </div>
  
                    <div class="snipcart-details top_brand_home_details">
                      <!-- 產品購買後傳送給購物車的資訊 *必填 請使用value 並設為hidden 任何想傳的都可以透過name及新增欄位傳送 -->
                      <form action="#" method="post">
                        <fieldset>
                          <input type="hidden" name="cmd" value="_cart" />
                          <!-- 產品連結 -->
                          <input
                            type="hidden"
                            name="link"
                            value="{% url 'storeApp:teas' %}blackteas/UID_LIKE_THIS_1234"
                          />
  
                          <!-- 每次按下新增的數量 *必填-->
                          <input type="hidden" name="add" value="1" />
  
                          <!-- 每次按下新增的數量 -->
  
                          <!-- 在購物車內顯示的圖片 *必填 若不填不影響運作、但會在結帳顯示不出圖片 -->
                          <input
                            type="hidden"
                            name="imgSrc"
                            value="{{ product.offer.image.url }}"
                          />
                          <!-- 在購物車內顯示的圖片 -->
  
                          <!-- 產品名稱 *必填 -->
                          <input
                            type="hidden"
                            name="item_name"
                            value="{{ product.offer }}"
                          />
                          <!-- 產品名稱 -->
  
                          <!-- 產品UID *必填 結帳時回傳給資料庫的資料-->
                          <input
                            type="hidden"
                            name="uid"
                            value="{{ product.offer.id }}"
                          />
                          <!-- 產品UID -->
  
                          <!-- 單項產品價格 *必填 -->
                          <input
                            type="hidden"
                            name="amount"
                            value="{{ product.offer.price }}"
                          />
                          <!-- 單項產品價格 -->
  
                          <!-- 本項產品折扣價格 選填 -->
                          {% if product.discount != 0%}
                          <input
                            type="hidden"
                            name="discount_amount"
                            value="{{product.discount}}"
                          /> 
                            {%endif%}
                          <!-- 本項產品折扣價格 -->
  
                          <!-- 不知道幹嘛的兩欄 -->
                          <!-- 
                                  <input type="hidden" name="return" value=" ">
                                  <input type="hidden" name="cancel_return" value=" ">
                                  <input type="hidden" name="business" value=" ">
                                -->
                          <!-- 不知道幹嘛的兩欄 -->
  
                          <!-- 加入的按鈕 *必填-->
                          <input
                            type="submit"
                            name="submit"
                            value="加入購物車"
                            class="button"
                          />
                          <!-- 加入的按鈕 -->
                        </fieldset>
                      </form>
                      <!-- 產品購買後傳送給購物車的資訊  -->
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
        <!-- offer產品 第1項  -->
        {% endfor %}
      {% else %}
      <h1>盡快為您上架</h1>
      {% endif %}
      <div class="clearfix"></div>
    </div>
  </div>
</div>
{% endblock new_offers %}
