{% extends 'storeApp/base.html' %}
{% load static %}
{%block breadcrumb%}
<li class="active">購物車</li>
{%endblock breadcrumb%}
<!-- 新增麵包屑 請使用block breadcrumb  %endblock  breadcrumb% 並在上方區塊繼承super-->
{% block content %}
<script>
{% if eventDiscounts%}
	window.eventDiscounts=
	[
		{%for discount in eventDiscounts%}
			{
			{%for key,value in discount.items%}
				{{key}}:{{value}},
			{%endfor%}
			},
		{%endfor%}
	]
	for (var items of eventDiscounts)
			console.log(items);
{%endif%}
{%if shippingPrice%}

{%endif%}
window.csrf='{% csrf_token %}';
</script>
<script src="{% static 'storeApp/js/checkOut.js'%}"></script>
<!-- checkout -->
<div class="checkout">
	<div class="container">
		<h2>您的購物車包含以下商品：</h2>
		<div class="checkout-right">
			
		</div>
		<div class="checkout-left">
			
			<div class="checkout-right-basket">
				<a href="{% url 'storeApp:teas' %}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>繼續購物</a>
			</div>

			<div class = "checkout-right-basket">
				<!-- Button trigger modal -->
				<button type="button" class="checkout btn glyphicon glyphicon-menu-left" data-toggle="modal" data-target="#exampleModal" aria-hidden="true" >
						結帳
					  </button>
			
					  <!-- Modal -->
					  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
						  <div class="modal-content">
							<div class="modal-header btn-success">
							  <h5 class="modal-title" id="exampleModalLabel">送貨地址確認</h5>
							  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>
							<div class="modal-body">
							  <div class="input-group mb-3">
								<div class="input-group-prepend">
								  <span class="input-group-text row " id="inputGroup-sizing-default" style="margin-left:1px">請輸入送貨地址</span>
								</div>
								<input type="text" id="addressInput" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" style="margin-top:15px">
							  </div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-success" data-dismiss="modal">離開</button>
							  <button id="modalConfirm" type="button" class="btn btn-success">確認</button>
							</div>
						  </div>
						</div>
					  </div>
				  </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //checkout -->
{% endblock content %}