{% extends 'storeApp/base.html' %}
{% load static %}
{% load storeApp_tags %}
{%block breadcrumb%}
<li class="active">購物車</li>
{%endblock breadcrumb%}
<!-- 新增麵包屑 請使用block breadcrumb  %endblock  breadcrumb% 並在上方區塊繼承super-->
{% block content %}
<script>

{% if eventDiscounts%}
	window.eventDiscount={ 
		id : {{eventDiscounts.0.id}},
		discount : {{eventDiscounts.0.discount}}
		{%if discount.description%},description:"{{discount.description}}"{%endif%}
		{%if discount.condition%},condition:"{{discount.condition}}"{%endif%}
	 };
	window.eventDiscounts=[{%for discount in eventDiscounts%} {id : {{discount.id}},discount:{{discount.discount}}{%if discount.description%},description:"{{discount.description}}"{%endif%} {%if discount.condition%},condition:"{{discount.condition}}"{%endif%} },
		 {%endfor%} ];
{%endif%}
const shippingDiscount=
{%if shippingDiscount %}
{ discount:{{shippingDiscount.discount}}{%if shippingDiscount.condition%},condition:{{shippingDiscount.condition}}{%endif%}{%if shippingDiscount.description%},description:"{{shippingDiscount.description}}"{%endif%} };
{% else %}
undefined
{%endif%};
const shippingPrice=
{%if shippingPrice%}
{{shippingPrice}}
{% else %}
undefined
{%endif%};
window.csrf='{% csrf_token %}';
</script>
<script src="{% static 'storeApp/js/checkOut.js'%}" type="module"></script>
<!-- checkout -->
<div class="checkout">
	<div class="container">
		<h2>您的購物車包含以下商品：</h2>
		<div class="checkout-right">
			
		</div>

		<section class="couponSection">
			{% if eventDiscounts %}
			<h4>選擇折價券</h4>
			<select class="custom-select" id="inputGroupCoupon">
				{%for eventCoupon in eventDiscounts%}
				<option value="{{eventCoupon.id}}" >[#{{eventCoupon.id}}] {{eventCoupon.description}}
					{% if eventCoupon.condition > 0 %}
					滿{{eventCoupon.condition}}
					{% endif %}
					{% if eventCoupon.discount < 1 %}
						購物車商品
						{% if  eventCoupon.discount|isDivisibleAfterTenTimes%}
							{% widthratio eventCoupon.discount 1 10 %}折
						{% else %}
							{% widthratio eventCoupon.discount 1 100 %}折
						{% endif %}
						(不包含運費)
					{% else %}
						折價{{eventCoupon.discount}}元
					{% endif %}</option>
				{%endfor%}
				
			</select>
			{%endif%}
			{% if shippingDiscount %}
			<h4 class="mt-4 md-2">
				運費折扣
			</h4>
			<div>
				{% if shippingDiscount.condition != 0 %}
					訂單金額滿{{shippingDiscount.condition}}
				{% endif %}
				{% if shippingDiscount.discount == 0 %}
					免運費
				{% elif 1 > shippingDiscount.discount and shippingDiscount.discount > 0 %}
					運費{% if  shippingDiscount.discount|isDivisibleAfterTenTimes%}
						{% widthratio shippingDiscount.discount 1 10 %}折
					{% else %}
						{% widthratio shippingDiscount.discount 1 100 %}折
					{% endif %}
				{% elif shippingDiscount.discount >= 1 %}
					減NT${{shippingDiscount.discount}}
				{% endif %}
			</div>
			{% endif %}
		</section>
			
		<div class="checkout-left">
			
			<div class="checkout-right-basket">
				<a href="{% url 'storeApp:teas' %}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>繼續購物</a>
			</div>

			<div class = "checkout-right-basket">
				<!-- Button trigger modal -->
				<button type="button" class="checkout btn glyphicon glyphicon-menu-left" data-toggle="modal" data-target="#exampleModal" aria-hidden="true" >
						結帳
					  </button>
			
					  <!-- Modal -->
					  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
						  <div class="modal-content">
							<div class="modal-header btn-success">
							  <h5 class="modal-title" id="exampleModalLabel">送貨地址確認</h5>
							  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>
							<div class="modal-body">
							  <div class="input-group mb-3">
								<div class="input-group-prepend">
								  <span class="input-group-text row " id="inputGroup-sizing-default" style="margin-left:1px">請輸入送貨地址</span>
								</div>
								<input type="text" id="addressInput" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" style="margin-top:15px">
							  </div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-success" data-dismiss="modal">離開</button>
							  <button id="modalConfirm" type="button" class="btn btn-success">確認</button>
							</div>
						  </div>
						</div>
					  </div>
					</div>

			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //checkout -->
{% endblock content %}