{% extends 'storeApp/base.html' %}
{% load static %}
{%block breadcrumb%}
<li class="active">登入</li>
{%endblock breadcrumb%}
<!-- 新增麵包屑 請使用block breadcrumb  %endblock  breadcrumb% 並在上方區塊繼承super-->
{% block content %}
<!-- login -->
<div class="login">
  <div class="container">
    <h2>重設密碼</h2>
    <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
      {% csrf_token %}
      <form>
        <div class="form-group">
          <label class="mb-2" for="InputEmail1">電子郵件</label>
          <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="輸入電郵地址">
          <small id="emailHelp" class="form-text text-muted">請輸入與您的帳號關聯的電子信箱地址，我們會透過電子郵件向您寄送重設密碼的連結。
            </small>
        </div>
        <button type="button" class="btn btn-danger">傳送重設連結</button>
      </form>
    </div>

  </div>
</div>
<!-- //login -->
{% endblock content %}