{% extends 'storeApp/base.html' %}
{% load static %}
{%block bc%}
<!-- 首頁沒有麵包屑區塊 -->
{%endblock bc%}
<!-- 新增麵包屑 請使用block breadcrumb  %endblock  breadcrumb% 並在上方區塊繼承super-->
{% block content %}
{{ block.super }}
<!-- //navigation -->
<!-- main-slider -->
<ul id="demo1">
  <li>
    <img src="{% static 'base/images/navigation.jpg'%}" alt="國韻天香，金枝玉葉" />
    <div class="slide-desc">
      <h3>國韻天香，金枝玉葉</h3>
    </div>
  </li>
  {% for type in types %}
  <li>
    <img src="{{ type.image.url }}" alt="{{ type }}" />
    <div class="slide-desc">
      <h3><a href="{% url 'storeApp:teas_type' type %}" style="color:white">{{ type }}</a></h3>
    </div>
  </li>
  {% endfor %}
</ul>
<!-- //main-slider -->
<!-- //top-header and slider -->
<!-- new -->
{% block new_offers %}
{{ block.super }}
{% endblock new_offers %}
<!-- //new -->
<div class="ban-bottom-w3l">
  <div class="container">
    <div class="col-md-6 ban-bottom3">
      <div class="ban-top" onclick="location.href='teas';">
        <img src="{% static 'base/images/紅茶.jpg'%}" class="img-responsive" alt="" />
      </div>
      <div class="ban-img" onclick="location.href='teas';">
        <div class=" ban-bottom1">
          <div class="ban-top">
            <img src="{% static 'base/images/烏龍茶.jpg'%}" class="img-responsive" alt="" />
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-6 ban-bottom" onclick="location.href='teas';">
      <div class="ban-top">
        <img src="{% static 'base/images/綠茶.jpg'%}" class="img-responsive" alt="" />
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
{% endblock content %}