{% extends 'storeApp/base.html' %}
{% load static %}
{%block breadcrumb%}
<li><a href="{% url 'storeApp:userPanel' %}">使用者</a></li>
<li class="active">訂單管理</li>
{%endblock breadcrumb%}
<!-- 新增麵包屑 請使用block breadcrumb  %endblock  breadcrumb% 並在上方區塊繼承super-->
{% block content %}
<div class="container">
  <!--一筆訂單-->
  {%block order%}
  {% for order in oneOrder %}
  <div class="item-list">
    <div class="order-item">
      <div class="item-card">
        <!--標頭-->
        <div class="item-header">
          <h4>
            {%block buyer%}
            <h4>買家:{{ order.order.own_user }}</h4> 
            {%endblock buyer%}
          </h4>
        </div>
        <!--標頭-->
        <br>
        <!--訂單中的商品清單-->
        <div class="item-detail-list">
          <!--訂單中其中一項商品-->
          {%block oneProductOfOrder%}
          {% for i in order.products %}
          <!--標頭與商品清單分隔線-->
          <div class="border-solid"></div>
          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class=" col-md-3 imgStyle">
                  <!--need to change image-->
                  <img src="{{i.product.image.url}}" class="item-detail-image" alt="無法顯示">
                </div>
                <div class="item-describe col-md-9">
                    {%block orderDescribe%}
                    <pre class="order-describe">名稱 {{i.product.name}}

數量 {{i.purchase_quantity}}
                    </pre>
                    {%endblock orderDescribe%}
                </div>
              </div>
            </div>
            <div class="col-md-3 price-block">
              <h4 class="price">
                NT $
                {%block orderPrice%}
                {{i.product.price}}
                {%endblock orderPrice%}
              </h4>
            </div>
          </div>
          {% endfor %}
          {%endblock oneProductOfOrder%}
          <!--訂單中其中一項商品-->
        <!--訂單中的商品清單-->
      </div>
      <!--單筆訂單內與按鈕的分隔線-->
      <div class="border-dash"></div>
      <!--單筆訂單總價與按鈕-->
      <div class="item-button">
        <div class="row buttonContainer">
          <div class="total-price">
            <span class="form-total">訂單金額 : </span>
            <span class="form-price">
              {%block totalPrice%}
              {{ order.order.total_price }}
              {%endblock totalPrice%}
            </span>
          </div>
        </div>
        <div class="button-container">
          <button>查看訂單詳情</button>
        </div>
      </div>
      <!--單筆訂單總價與按鈕-->
    </div>
    <!--一筆訂單-->
  </div>
</div>
{% endfor %}
  {%endblock order%}
</div>
{% endblock content %}


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <!-- <th scope="col">品名</th> -->
      <th scope="col">價格</th>
      <th scope="col">數量</th>
    </tr>
  </thead>
  {% for order in order_list %}
  <tbody>
    {% for item in order.items %}
    <tr>
      <th scope="row">{{ order.order_id }}</th>
      <!-- <td>{{ item.product }}</td> -->
      <td>{{ item.product.price }}</td>
      <td>{{ item.purchase_quantity }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>