{% extends 'storeApp/base.html' %}
{% load static %}
{%block breadcrumb%}
<li><a href="{% url 'storeApp:user_panel' %}">使用者</a></li>
<li class="active">產品購買紀錄</li>
{%endblock breadcrumb%}
<!-- 新增麵包屑 請使用block breadcrumb  %endblock  breadcrumb% 並在上方區塊繼承super-->
{% block content %}
<div class="container checkout">
  <h4 class="productRecord">產品購買紀錄 :</h4>
  {% if products %}  
  <table class="tableStyle">
      {% for product in products %}  
      <tr class="trStyle">
        <td class="imgStyle"><img src="{{product.image.url}}" class="item-detail-image" alt="{{product.name}}"></td>
        <td><a class="productLink" href="{% url 'storeApp:detail' product.id %}">名稱：{{product.name}}</a></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <div class="emptyImgDiv">
      <img src="/static/base/images/orderEmpty.png" alt="" class="emptyImg">
      <h4 class="my-2">竟然沒有買過東西</h4>
      <small class="text-muted">快去買個好茶，陶冶一下身心靈吧～</small>
    </div>
    <div class="button-container2">
      <button><a href="/teas/">前往購物</a></button>
    </div>
    {% endif %}
</div>
{% endblock content %}