{% extends 'header-footer.html' %}
{% load static %}
{%block breadcrumb%}
<li class="active">註冊</li>
{%endblock breadcrumb%}
<!-- 新增麵包屑 請使用block breadcrumb  %endblock  breadcrumb% 並在上方區塊繼承super-->

{% block content %}

<!-- register -->
<div class="register">
  <div class="container">
    <h2>註冊</h2>
    <div class="login-form-grids">
      <h5>個人資訊</h5>
      <form action="" method="POST">
        <input type="text" placeholder="First Name..." name="first_name" required=" ">
        <input type="text" placeholder="Last Name..." name="last_name" required=" ">
      <!-- </form> -->
      <div class="register-check-box">
        <div class="check">
          <label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>訂閱最新資訊</label>
        </div>
      </div>
      <h6>帳號資訊</h6>
      <!-- <form action="" method="POST"> -->

        <input type="email" placeholder="電資信箱" name="email" required=" ">
        <input type="text" placeholder="使用者名稱" name="username" required=" ">
        <input type="password" placeholder="密碼" name="password" required=" ">
        <input type="password" placeholder="密碼確認 Confirmation" name="password" required=" ">
        {% csrf_token %}
        <div class="register-check-box">
          <div class="check">
            <label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>我接受並同意上述條件</label>
          </div>
        </div>
        {% if message %}
        <a style="color:red">{{ message }}!</a>
        {% endif %}
        <input type="submit" value="Register">
      </form>
    </div>
    <div class="register-home">
      <a href="{% url 'storeApp:home'%}">首頁</a>
    </div>
  </div>
</div>
<!-- //register -->
{% endblock content %}