{% extends 'storeApp/base.html' %}
{% load static %}
{%block breadcrumb%}
<li class="active">產品報表</li>
{%endblock breadcrumb%}
{%block content%}
    <!-- contact -->
    <div class="about">
      <div class="container">
        <div class="w3_agileits_contact_grids">
          <div class="col-md-12 product_edit">
            <h2 class="w3_agile_header">產品報表</h2>
              <div class="row">
                  <select name="type" class="input input--ichiro custom-select" id="inputGroupSelect01">
                      <!--reports -->
                        <option value="mayor" selected>報表A - 縣市長選舉</option>
                        <option value="greentea">報表B - 公投結果</option>
                      <!--reports -->
                  </select>
              </div>
                  <div class="row ">
                    <img
                      {#report src#}
                      src="{% static 'base/images/no_images.png' %}"
                      {#report src#}
                      class="col-12 "
                      alt=""
                      onerror="this.src='./images/no_images.png'"
                    />
                  </div>
                </figure>
              </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- contact -->
{% endblock content %}
