{% extends 'storeApp/base.html' %}
{% load static %}
{%block breadcrumb%}
<li class="active">商品搜尋</li>
{%endblock breadcrumb%}
<!-- 新增麵包屑 請使用block breadcrumb  %endblock  breadcrumb% 並在上方區塊繼承super-->
{% block content %}
<div class="container">
  <div class="item-list">
    <!--搜尋結果-->
    {%block search%}
    <div class="products">
      <div class="container">
        <h2>搜尋結果</h2>
        <!--價格排序按鈕-->
        <div class="btn-group">
          <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            價格排列
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item h4" style="padding-left: 5px" href="#">高到低</a>
            <div class="dropdown-divider h4"></div>
            <a class="dropdown-item h4" style="padding-left: 5px" href="#">低到高</a>
          </div>
        </div>
        <!--價格排序按鈕-->
        <div class="col-md-2 products-left">

            
        </div>
        <div class="col-md-8 products-right">
          <!-- {{ products }} -->
          <div class="agile_top_brands_grids">
              {%block oneProductSearch%}
              {% if products %}
              {% for product in products %}
            <div class="col-md-4 top_brand_left">
              <div class="hover14 column">
                <div class="agile_top_brand_left_grid">
                    <div class="agile_top_brand_left_grid_pos">
                    </div>
                  <div class="agile_top_brand_left_grid1">
                    <!--一筆搜尋結果區塊-->    
                    <figure>
                      <div class="snipcart-item block">
                        <div class="snipcart-thumb">
                          <!--照片插入處-->
                          <a href="{% url 'storeApp:detail' product.id %}"><img title=" " alt=" " src="{{ product.image.url }}"></a>
                          <!--照片插入處-->
                          <!--產品名稱和價格-->
                          <p>{{ product.name }}</p>
                          <h4>${{ product.price }} <span>${{ product.price }}</span></h4>
                          <!--產品名稱和價格-->
                        </div>
                        <!--加入購物車的小視窗-->
                        <div class="snipcart-details top_brand_home_details">
                          <form action="" method="post">
                            <fieldset>
                              <input type="hidden" name="cmd" value="_cart">
                              <!--使用者加入的數量-->
                              <input type="hidden" name="add" value="1">
                              <!--使用者加入的數量-->
                              <!--商品名稱-->
                              <input type="hidden" name="{{ product.name }}" value="test">
                              <!--商品名稱-->
                              <!--商品價格-->
                              <input type="hidden" name="amount" value="{{ product.price }}">
                              <!--商品價格-->
                              <!--折扣價格-->
                              <input type="hidden" name="discount_amount" value="1.00">
                              <!--折扣價格-->
                              <input type="submit" name="submit" value="加入購物車" class="button">
                            </fieldset>
                          </form>
                        </div>
                        <!--加入購物車的小視窗-->
                      </div>
                    </figure>
                    <!--一筆搜尋結果區塊-->
                  </div>
                </div>
              </div>
              <!--一筆搜尋結果顯示-->
            </div>
            {% endfor %}
            {% else %}
            <h3>找不到商品貨色原</h3>   
            {% endif %}
            {%endblock oneProductSearch%}
            <div class="clearfix"> </div>
          </div>
          <!--- 換頁按鈕 -->
      <nav class="numbering">
          <ul class="pagination paging">
            {% if previous_page != 0 %}
            <li>
              <a href="?page={{ previous_page }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% endif %}
            {% for i in total_page %}
            {% if i == page%}
            <li class="active"><a href="?page={{ i }}">{{ i }}<span class="sr-only">(current)</span></a></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
  
            {% if next_page != 0 %}
            <li>
              <a href="?page={{ next_page }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
        <!--- 換頁按鈕 -->
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    {%endblock search%}
  </div>
</div>
{% endblock content %}