{% extends 'storeApp/base.html' %}
{% load static %}
{%block breadcrumb%}
<li class="active">商品搜尋</li>
{%endblock breadcrumb%}
<!-- 新增麵包屑 請使用block breadcrumb  %endblock  breadcrumb% 並在上方區塊繼承super-->
{% block content %}
<div class="container">
  <div class="item-list">
    <!--搜尋結果-->
    {%block search%}
    <div class="products">
      <div class="container">
        <h2>搜尋結果</h2>
        <!--價格排序按鈕-->
        <div class="btn-group">
          <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            價格排列
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item h4" style="padding-left: 5px" href="#">高到低</a>
            <div class="dropdown-divider h4"></div>
            <a class="dropdown-item h4" style="padding-left: 5px" href="#">低到高</a>
          </div>
        </div>
        <!--價格排序按鈕-->
        <div class="col-md-2 products-left">

            
        </div>
        <div class="col-md-8 products-right">
          <!-- {{ products }} -->
              {%block oneProductSearch%}
              {% if products %}
              {% for product in products %}
            <div class="col-md-4 top_brand_left agile_top_brands_grids">
              <div class="hover14 column">
                <div class="agile_top_brand_left_grid">
                    <div class="agile_top_brand_left_grid_pos">
                    </div>
                  <div class="agile_top_brand_left_grid1">
                    <!--一筆搜尋結果區塊-->    
                    <figure>
                      <div class="snipcart-item block">
                        <div class="snipcart-thumb">
                          <!-- 產品link and image -->
                          <a href="{% url 'storeApp:detail' product.id %}"
                            ><img
                              class="productItemImg"
                              title=" "
                              alt=" "
                              src="{{ product.imgurl }}"
                          /></a>
                          <!-- 產品link and image -->
      
                          <!-- 產品名稱 *必填-->
                          <p class="productItemTitle">{{ product }}</p>
                          <!-- 產品名稱 -->
                          <!-- 產品價格顯示 -->
                          <h4>
                            <!-- 現價 -->
                            NT${{ product.price }}
                            <!-- 現價 -->
                            {% if product.isDiscount%}
                            <!-- 原價 *必填-->
                            <span>NT${{ product.originPrice }}</span>
                            <!-- 原價 -->
                            {% endif %}
                          </h4>
                          <!-- 產品價格顯示 -->
                        </div>
      
                        <div class="snipcart-details top_brand_home_details {% if product.isSoldout %}soldout{%endif%}">
                          <!-- 產品購買後傳送給購物車的資訊 *必填 請使用value 並設為hidden 任何想傳的都可以透過name及新增欄位傳送 -->
                          <form action="#" method="post">
                            <fieldset>
                              <input type="hidden" name="cmd" value="_cart" />
                              <!-- 產品連結 -->
                              <input
                                type="hidden"
                                name="link"
                                value="{% url 'storeApp:teas' %}blackteas/UID_LIKE_THIS_1234"
                              />
      
                              <!-- 每次按下新增的數量 *必填-->
                              <input type="hidden" name="add" value="1" />
      
                              <!-- 每次按下新增的數量 -->
      
                              <!-- 在購物車內顯示的圖片 *必填 若不填不影響運作、但會在結帳顯示不出圖片 -->
                              <input
                                type="hidden"
                                name="imgSrc"
                                value="{{ product.imgurl }}"
                              />
                              <!-- 在購物車內顯示的圖片 -->
      
                              <!-- 產品名稱 *必填 -->
                              <input
                                type="hidden"
                                name="item_name"
                                value="{{ product.name }}"
                              />
                              <!-- 產品名稱 -->
      
                              <!-- 產品UID *必填 結帳時回傳給資料庫的資料-->
                              <input
                                type="hidden"
                                name="uid"
                                value="{{ product.id }}"
                              />
                              <!-- 產品UID -->
      
                              <!-- 單項產品價格 *必填 -->
                              <input
                                type="hidden"
                                name="amount"
                                value="{{ product.originPrice }}"
                              />
                              <!-- 單項產品價格 -->
      
                              <!-- 本項產品折扣價格 選填 -->
                              {% if product.isDiscount%}
                              <input
                                type="hidden"
                                name="discount_amount"
                                value="{{ product.discount }}"
                              />
                              {%endif%}
                              <!-- 本項產品折扣價格 -->
      
                              <!-- 不知道幹嘛的兩欄 -->
                              <!-- 
                                        <input type="hidden" name="return" value=" ">
                                        <input type="hidden" name="cancel_return" value=" ">
                                        <input type="hidden" name="business" value=" ">
                                      -->
                              <!-- 不知道幹嘛的兩欄 -->
      
                              <!-- 加入的按鈕 *必填-->
                              <input
                                type="submit"
                                name="submit"
                                
                                class="button"
                                {%if not product.isSoldout %}
                                value="加入購物車"
                                {%else%}
                                value="已售完"
                                disabled
                                {%endif%}
                                />
                              <!-- 加入的按鈕 -->
                            </fieldset>
                          </form>
                          <!-- 產品購買後傳送給購物車的資訊  -->
                        </div>
                      </div>
                    </figure>
                    <!--一筆搜尋結果區塊-->
                  </div>
                </div>
              </div>
              <!--一筆搜尋結果顯示-->
            </div>
            {% endfor %}
            {% else %}
            <h3>找不到商品貨色原</h3>   
            {% endif %}
            {%endblock oneProductSearch%}
            <div class="clearfix"> </div>
          
          <!--- 換頁按鈕 -->
      <nav class="numbering">
          <ul class="pagination paging">
            {% if previous_page != 0 %}
            <li>
              <a href="?page={{ previous_page }}&quireText={{ search_text }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% endif %}
            {% for i in total_page %}
            {% if i == page%}
            <li class="active"><a href="?page={{ i }}&quireText={{ search_text }}">{{ i }}<span class="sr-only">(current)</span></a></li>
            {% else %}
            <li><a href="?page={{ i }}&quireText={{ search_text }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
  
            {% if next_page != 0 %}
            <li>
              <a href="?page={{ next_page }}&quireText={{ search_text }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
        <!--- 換頁按鈕 -->
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    {%endblock search%}
  </div>
</div>
{% endblock content %}