{% extends 'storeApp/base.html' %}
{% load static %}
{%block breadcrumb%}
{% if 麵包屑 %}
<li class=""><a href="{% url 'storeApp:teas' %}">茶種類</a></li>
<li class="active">{{ 麵包屑 }}</li>
{% else %}
<li class="active">茶種類</a></li>
{% endif %}
{%endblock breadcrumb%}
<!-- 新增麵包屑 請使用block breadcrumb  %endblock  breadcrumb% 並在上方區塊繼承super-->
{% block content %}
<div class="products">
  <div class="container">
    <div class="col-md-4 products-left">
      {% block categories %}
      <!--- 目錄列表 -->
      <div class="categories">
        <h2>目錄</h2>
        <ul class="cate">
          <li><a href="{% url 'storeApp:teas' %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>所有商品</a></li>
          {% for type in types %}
          <ul>
            <li><a href="{% url 'storeApp:teas_type' type.name %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                {{ type.name }}</a></li>
          </ul>
          {% endfor %}
        </ul>
      </div>
      <!--- 目錄列表 -->
      {% endblock categories %}
    </div>
    <div class="col-md-8 products-right">
      <div class="products-right-grid">
        <div class="products-right-grids">
          <div class="clearfix"> </div>
        </div>
      </div>
      <div>
        {% block product %}
        {% for tea in teas %}
        <div class="col-md-4 top_brand_left agile_top_brands_grids">
          <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
              <div class="agile_top_brand_left_grid_pos"></div>
              <div class="agile_top_brand_left_grid1">
                <!--- 一筆商品 -->
                <figure>
                  <div class="snipcart-item block">
                    <div class="snipcart-thumb">
                      <!--- 商品照片 -->
                      <a href="{% url 'storeApp:detail' tea.id %}"><img title=" " alt=" " src="{{ tea.image.url }}"></a>
                      <!--- 商品照片 -->
                      <!--- 商品名稱 -->
                      <p class="productItemTitle">{{ tea.name }}</p>
                      <!--- 商品名稱 -->
                      <!--- 商品價錢 -->
                      <h4>{{ tea.price }} <span>{{ tea.price }}</span></h4>
                      <!--- 商品價錢 -->
                    </div>
                    <!--加入購物車的小視窗-->
                    <div class="snipcart-details top_brand_home_details">
                      <form action="#" method="post">
                        <fieldset>
                          <input type="hidden" name="cmd" value="_cart">
                          <!--使用者加入的數量-->
                          <input type="hidden" name="add" value="1">
                          <!--使用者加入的數量-->
                          <!--商品名稱-->
                          <input type="hidden" name="item_name" value="{{ tea.name }}">
                          <!--商品名稱-->
                          <!-- 產品UID *必填 結帳時回傳給資料庫的資料-->
                          <input type="hidden" name="uid" value="{{ tea.id }}">
                          <!-- 產品UID -->
                          <!--商品價格-->
                          <input type="hidden" name="amount" value="{{ tea.price }}">
                          <!--商品價格-->
                          <!--折扣價格-->
                          <input type="hidden" name="discount_amount" value="1.00">
                          <!--折扣價格-->
                          <input type="hidden" name="imgSrc" value="{{ tea.image.url }}">
                          <input type="submit" name="submit" value="加入購物車" class="button">
                        </fieldset>
                      </form>
                    </div>
                    <!--加入購物車的小視窗-->
                  </div>
                </figure>
                <!--- 一筆商品 -->
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endblock product %}
        <div class="clearfix"> </div>
      </div>
      <!--- 換頁按鈕 -->
      <nav class="numbering">
        <ul class="pagination paging">
          {% if previous_page != 0 %}
          <li>
            <a href="?page={{ previous_page }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}
          {% for i in total_page %}
          {% if i == page%}
          <li class="active"><a href="?page={{ i }}">{{ i }}<span class="sr-only">(current)</span></a></li>
          {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
          {% endfor %}
          {% if next_page != 0 %}
          <li>
            <a href="?page={{ next_page }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <!--- 換頁按鈕 -->
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!--- groceries --->
</div>
</div>
{% endblock content %}