{% extends 'storeApp/base.html' %}
{% load static %}
{%block breadcrumb%}
<li><a href="{% url 'storeApp:user_panel' %}">{{ user.username }}</a></li>
<li><a href="{% url 'storeApp:account_panel' %}">帳號設定</a></li>
<li class="active">修改個人資訊</li>
{%endblock breadcrumb%}
<!-- 新增麵包屑 請使用block breadcrumb  %endblock  breadcrumb% 並在上方區塊繼承super-->
{% block content %}
<!-- contact -->
<div class="about">
  <div class="container">
    <div class="w3_agileits_contact_grids">
      <div class="col-md-12 product_edit">
        <h2 class="w3_agile_header">修改個人資訊</h2>
        <a class="glyphicon glyphicon-menu-left" href="{% url 'storeApp:account_panel' %}"></a>
        <form action="123" class="" method="post">
          <!--input part2-->
          <span>
            <h4 class="mb-0 mt-4">使用者名稱:{{ user.username }}</h4>
          </span>

          <!--input part3-->
          <span class="input input--ichiro">
            <input class="input__field input__field--ichiro" type="text" id="userEmail" name="email" placeholder=" "
              required="" value="{%block userEmail%}{{ user.email }}{%endblock userEmail%}" />
            <label class="input__label input__label--ichiro" for="userEmail">
              <span class="input__label-content input__label-content--ichiro">信箱</span>
            </label>
          </span>

          <div class="clearfix"></div>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" style="margin-top: 15px">
            更改密碼
          </button>
          <div>
            {% if message %}
            <a class="h3 text-danger">{{ message }}</a>
            {% endif %}
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <form>
                  <div class="modal-header btn-success">
                    <h3 class="modal-title " id="exampleModalLabel">更改密碼</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form id="ajax-contact">
                      <div class="form-group">
                        <label class="mb-2" for="InputOldPassword">請輸入原密碼</label>
                        <input type="password" class="form-control" name="old_passwd" id="InputOldPassword" required=" "
                          placeholder="">
                      </div>
                      <div class="form-group">
                        <label class="mb-2" for="leInputNewPassword">請輸入新密碼</label>
                        <input type="password" class="form-control" name="new_passwd" id="leInputNewPassword" required=" "
                          placeholder="">
                      </div>
                      <div class="form-group">
                        <label class="mb-2" for="InputNewPasswordAgain">請再次輸入新密碼</label>
                        <input type="password" class="form-control" name="new_passwd_again" id="InputNewPasswordAgain"
                          required=" " placeholder="">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">離開</button>
                        <button id="button1" type="button" class="btn btn-success">確認設定</button>
                      </div>
                      <!-- {% csrf_token %} -->
                    </form>
                  </div>
              </div>
            </div>
          </div>
          <input type="submit" value="Submit" />
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- contact -->
<script type="text/javascript" src="{% static 'storeApp/js/cheageUaerPassword.js' %}"></script>
{% endblock content %}