{% extends 'storeApp/base.html' %}
{% load static %}
{%block breadcrumb%}
<!--使用者名稱-->
<li class="active">{{ user.username }}</li>
<!--使用者名稱-->
{%endblock breadcrumb%}
<!-- 新增麵包屑 請使用block breadcrumb  %endblock  breadcrumb% 並在上方區塊繼承super-->
{% block content %}
<!-- //插入區 -->
<div class="userpanel-image-container">
  <img src="{% static 'base/images/綠茶.jpg' %}" alt="" class="userpanel-main_image" />
  <!--使用者名稱-->
  <h3>使用者名稱: {{ user.username }}</h3>
  <!--使用者名稱-->
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="tab-content">
        <div id="user" class="tab-pane fade in active">
          <div class="list-group">
            <a class="list-group-item list-group-item-action">
              <!-- 訂單消息數量 -->
              <span class="badge">14</span>
              <!-- 訂單消息數量 -->
              購買清單
              <div class="d-flex justify-content-center orderButtons">
                <div>
                  <div class="glyphicon glyphicon-credit-card"></div>
                  <div>待付款</div>
                </div>
                <div>
                  <div class="glyphicon glyphicon-plane"></div>
                  <div>待出貨</div>
                </div>
                <div>
                  <div class="glyphicon glyphicon-copy"></div>
                  <div>待收貨</div>
                </div>
              </div>
            </a>
            <a class="list-group-item  list-group-item-action">
              <!-- 折價券數量 -->
              <span class="badge">14</span> 折價券
              <!-- 折價券數量 -->
            </a>
            <a class="list-group-item list-group-item-action" href="../accountPanel">帳戶設定</a>
          </div>
        </div>
    
      </div>
    </div>
  </div>
</div>
<!-- //插入區 -->
{% endblock content %}